.Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.section {
    width: 25%;
}

.footer-logo {
    font-size: 32px;
}

.social-link {
    cursor: pointer;
    padding: 5px;
}

.quick-link:hover {
    transform: scale(1.1);
}